<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>chat</title>
    <link href="/stylesheets/chat.css" rel="stylesheet" /> 
  </head>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/main.js"></script>
  <body>
    
    <ul id="messages"></ul>
    
    <form action="">
      <input id="m" autocomplete="off" autofocus/>
    </form>
  </body>
</html>

