<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>sign in</title>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  <body>
    <p>SignIn</p>
  </body>
</html>

